body{
    background-color: rgb(126, 160, 149);

}
h1{
    text-align: center;
    color: red;
    background-color: rgb(255, 255, 0);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 50px;
}
button{
    color: black;
    background-color: yellow;
    width: 80px;
    border: 2px;
    padding: 20px;
    border-radius: 2px;
}
button:hover{
    color: aqua;
    background-color: rgb(177, 24, 24);
}
input{
    color: black;
    background-color:black;
}
input:hover{
    color: aqua;
    background-color: rgb(10, 24, 224);
}
label{
    text-decoration: solid;
    font-weight: 200;
}